
#fact
{
	position: absolute;
	top: 150px;
	left: 400px;
	height: 380px;
	width: 520px;
	background-color: #34495e;
	color: white;
	font-family: 'Kavivanar', cursive;
	border-radius: 5px;

}

h1
{
	
	text-align: center;
}

#joke
{
	position: absolute;
    left: 200px;
    top: 120px;
    height: 50px;
    width: 100px;
    background-color: #64DD17;
	box-shadow: none;
	color:white;
	font-size: 18px;
    border-color: #64DD17;
  	border-style: solid;
  	border-radius: 5px;
  	font-family: 'Dosis', sans-serif;
}

#chuck
{
	position: absolute;
	top: 180px;
	left: 30px;
	width: 450px;
	color:white;
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
	

}